USE [master]
GO
/****** Object:  Database [CAMPUSMVPAPPINFO.MDF]    Script Date: 14/10/2016 9:56:52 ******/
CREATE DATABASE [CAMPUSMVPAPPINFO.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CampusmvpAppInfo', FILENAME = N'C:\App_Data\CampusmvpAppInfo.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CampusmvpAppInfo_log', FILENAME = N'C:\App_Data\CampusmvpAppInfo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAMPUSMVPAPPINFO.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAMPUSMVPAPPINFO.MDF]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14/10/2016 9:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Icon] [nvarchar](100) NULL,
	[Color] [nchar](6) NULL,
	[Description] [nvarchar](500) NULL,
	[Position] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 14/10/2016 9:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Image] [nvarchar](150) NULL,
	[ShortDescription] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Requirements] [nvarchar](500) NULL,
	[InfoUrl] [nvarchar](250) NOT NULL,
	[DateAdded] [datetime] NOT NULL CONSTRAINT [DF_Courses_DateAdded]  DEFAULT (getdate()),
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CoursesCategories]    Script Date: 14/10/2016 9:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursesCategories](
	[CourseId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_CoursesCategories] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Features]    Script Date: 14/10/2016 9:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[FeatureId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Feature] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Features] PRIMARY KEY CLUSTERED 
(
	[FeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Opinions]    Script Date: 14/10/2016 9:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opinions](
	[OpinionId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Opinions] PRIMARY KEY CLUSTERED 
(
	[OpinionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tutors]    Script Date: 14/10/2016 9:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutors](
	[TutorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Photo] [nvarchar](150) NULL,
	[ShortDescription] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Twitter] [nvarchar](25) NULL,
	[Blog] [nvarchar](250) NULL,
 CONSTRAINT [PK_Tutors] PRIMARY KEY CLUSTERED 
(
	[TutorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TutorsCourses]    Script Date: 14/10/2016 9:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TutorsCourses](
	[TutorId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_TutorsCourses] PRIMARY KEY CLUSTERED 
(
	[TutorId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [Icon], [Color], [Description], [Position]) VALUES (1, N'Programación Web', N'web.png', N'008B00', N'HTML5, CSS3, JavaScrit, ECMAScript, ASP.NET, ASP.NET Core, Angular, jQuery, APIs de HTML5...', 1)
INSERT [dbo].[Categories] ([CategoryId], [Name], [Icon], [Color], [Description], [Position]) VALUES (2, N'Programación para Móviles y Tablets', N'movil.png', N'005670', N'Programación nativa para iOS, multiplataforma con Xamarin, Responsive Web Design para la Web.', 2)
INSERT [dbo].[Categories] ([CategoryId], [Name], [Icon], [Color], [Description], [Position]) VALUES (3, N'Acceso a Datos', N'datos.png', N'ff9900', N'Lenguaje SQL, SQL Server, ADO.NET, Entity Framework, MySQL...', 3)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Courses] ON 

SET IDENTITY_INSERT [dbo].[Courses] OFF
INSERT [dbo].[CoursesCategories] ([CourseId], [CategoryId]) VALUES (1, 2)
INSERT [dbo].[CoursesCategories] ([CourseId], [CategoryId]) VALUES (1, 4)
INSERT [dbo].[CoursesCategories] ([CourseId], [CategoryId]) VALUES (2, 1)
SET IDENTITY_INSERT [dbo].[Features] ON 

INSERT [dbo].[Features] ([FeatureId], [CourseId], [Feature]) VALUES (1, 1, N'Duración: 12 semanas')
INSERT [dbo].[Features] ([FeatureId], [CourseId], [Feature]) VALUES (2, 1, N'Dedicación estimada: 5-6 h/semana (70h en total)')
INSERT [dbo].[Features] ([FeatureId], [CourseId], [Feature]) VALUES (3, 1, N'Nivel: Intermedio-Avanzado')
SET IDENTITY_INSERT [dbo].[Features] OFF
SET IDENTITY_INSERT [dbo].[Opinions] ON 

INSERT [dbo].[Opinions] ([OpinionId], [CourseId], [Description], [Author]) VALUES (1, 1, N'La verdad es que creo que sois la mejor empresa de formación técnica online de habla hispana que uno puede encontrar.. ', N'Miguel Ángel Cabrero (Madrid)')
INSERT [dbo].[Opinions] ([OpinionId], [CourseId], [Description], [Author]) VALUES (3, 1, N'He hecho formación on-line con campusMVP y también con otras empresas. He de decir que la formación con campusMVP ha sido con diferencia la mejor, tanto a nivel de contenidos, como de tutores, usabilidad de la plataforma, enfoque del temario y de las prácticas, etc.... ', N'Eva Higueras (Madrid)')
SET IDENTITY_INSERT [dbo].[Opinions] OFF
SET IDENTITY_INSERT [dbo].[Tutors] ON 

INSERT [dbo].[Tutors] ([TutorId], [Name], [Photo], [ShortDescription], [Description], [Twitter], [Blog]) VALUES (3, N'Alessandro Alpi', N'aalpi.jpg', N'SQL Server MVP', N'Alessandro works as Systems Engineer and .NET Developer since 2000. He has extensive experience working in web solutions, windows applications and services. He actually works full time as DBA/DBDeveloper with the latest SQL Server versions.', N'suxtellino', N'http://www.dotnethell.it/')
SET IDENTITY_INSERT [dbo].[Tutors] OFF
INSERT [dbo].[TutorsCourses] ([TutorId], [CourseId]) VALUES (1, 2)
INSERT [dbo].[TutorsCourses] ([TutorId], [CourseId]) VALUES (1, 14)
INSERT [dbo].[TutorsCourses] ([TutorId], [CourseId]) VALUES (1, 16)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_Category_Name]    Script Date: 14/10/2016 9:56:52 ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UK_Category_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_Course_Name]    Script Date: 14/10/2016 9:56:52 ******/
ALTER TABLE [dbo].[Courses] ADD  CONSTRAINT [UK_Course_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_Tutor_Name]    Script Date: 14/10/2016 9:56:52 ******/
ALTER TABLE [dbo].[Tutors] ADD  CONSTRAINT [UK_Tutor_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CoursesCategories]  WITH CHECK ADD  CONSTRAINT [FK_CoursesCategories_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CoursesCategories] CHECK CONSTRAINT [FK_CoursesCategories_Categories]
GO
ALTER TABLE [dbo].[CoursesCategories]  WITH CHECK ADD  CONSTRAINT [FK_CoursesCategories_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CoursesCategories] CHECK CONSTRAINT [FK_CoursesCategories_Courses]
GO
ALTER TABLE [dbo].[Features]  WITH CHECK ADD  CONSTRAINT [FK_Features_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Features] CHECK CONSTRAINT [FK_Features_Courses]
GO
ALTER TABLE [dbo].[Opinions]  WITH CHECK ADD  CONSTRAINT [FK_Opinions_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Opinions] CHECK CONSTRAINT [FK_Opinions_Courses]
GO
ALTER TABLE [dbo].[TutorsCourses]  WITH CHECK ADD  CONSTRAINT [FK_TutorsCourses_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TutorsCourses] CHECK CONSTRAINT [FK_TutorsCourses_Courses]
GO
ALTER TABLE [dbo].[TutorsCourses]  WITH CHECK ADD  CONSTRAINT [FK_TutorsCourses_Tutors] FOREIGN KEY([TutorId])
REFERENCES [dbo].[Tutors] ([TutorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TutorsCourses] CHECK CONSTRAINT [FK_TutorsCourses_Tutors]
GO
USE [master]
GO
